/* File Uploader Styles  */

.uploader input {
  display: none;
}

.uploader {
  cursor: pointer;
  display: block;
  text-align: center;
  margin:auto;
  margin-bottom: 1rem;
  color: #efefef;
  font-size: 5em;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader .hide {
  display: none;
}

.uploader img {
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
}
