<title-bar></title-bar>
<br>
<prize-new></prize-new>
<!-- <update [user]="selectedUser"></update>
<reward [student]="selectedUser"></reward> -->
<div class="row align-center">
    <div class="small-12 medium-6 large-4 columns">
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="禮物名稱">
        <div class="input-group-button">
          <button class="button">搜尋</button>
        </div>
      </div>
    </div>
</div>
<div class="column row">
  <div class="table-scroll" style="overflow-y:auto;max-height:300px;">
      <table>
        <tr>
          <th>ID</th>
          <th>禮物名稱</th>
          <th>所需獎杯</th>
          <th>加入日期</th>
        </tr>
        <tr [class.selected]="isSelectedPrize(prize)" *ngFor="let prize of prizes" (click)="onClick(prize)">
          <td>{{prize.id}}</td>
          <td>{{prize.name}}</td>
          <td>{{prize.tropyRequired}}</td>
          <td>{{prize.addedDate}}</td>
        </tr>
      </table>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 large-4 columns end">
    <div class="expanded button-group">
      <button class="button" id="newBtn" data-open="newReveal">新增</button>
      <button class="button" id="updateBtn" data-open="updateReveal" [disabled]="!selectedPrize.id">更新</button>
    </div>
  </div>
</div>
