<title-bar></title-bar>
<br>
<div class="row align-center">
    <div class="small-12 medium-8 large-6 columns end">
      <div class="input-group">
        <input #searchBox class="input-group-field" id="searchBox" type="text" placeholder="學生名稱搜尋" (keyup)="search(searchBox.value)">
        <div class="input-group-button">
          <button class="button" (click)="searchAll()">搜尋全部</button>
        </div>
      </div>
    </div>
</div>
<div class="column row"  style="overflow-y:auto;max-height:300px;">
  <div *ngFor="let students of studentss" class="row">
    <div *ngFor="let student of students"
        class="small-12 medium-expand columns item"
        [class.item-selected]="isSelectedStudent(student)"
        (click)="onClickStudent(student)">
      <span>{{student.name}}</span>
    </div>
  </div>
<!-- <div class="column row">
  <div class="table-scroll" style="overflow-y:auto;max-height:300px;">
      <table>
        <!-- <tr>
          <th>ID</th>
          <th>學生名稱</th>
        </tr>
        <tr [class.selected]="isSelectedStudent(student)" *ngFor="let student of students | async" (click)="onClickStudent(student)">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
        </tr>
      </table>
  </div>
</div> -->
<div *ngIf="selectedStudent.id" class="row column">
  <hr>
  <form #rewardForm="ngForm" (ngSubmit)="confirm()">
		<div class="row">
      <div class="small-12 medium-6 large-4 columns">
        <!-- <label>獲發學生: {{selectedStudent.name}}</label> -->
        <label>獲發學生
     			<input type="text" [value]="selectedStudent.name" readonly required>
     		</label>
      </div>
      <div class="small-12 medium-6 large-8 columns">
        <label>頒發老師/員工
     			<input type="text" [value]="authService.user.name" readonly required>
     		</label>
			     <!-- <label>頒發老師/員工: {{rewarder.name}}</label> -->
      </div>
		</div>
		<div class="row">
      <div class="small-12 medium-6 large-4 columns">
        <!-- <label>獲發學生: {{selectedStudent.name}}</label> -->
        <label>獎盃數目
          <span style="margin-left:0.5rem;" [hidden]="tropyWorth.valid || tropyWorth.pristine" class="msg-label alert">請輸入獎盃數目</span>
          <input type="text" id="tropyWorth" [(ngModel)]="selectedReason.tropyWorth" name="tropyWorth" #tropyWorth="ngModel" [readonly]="selectedReason.id!=0" required>
     		</label>
      </div>
      <div class="small-12 medium-6 large-8 columns">
        <label>頒發原因
          <!-- <span style="margin-left:0.5rem;" [hidden]="reason.valid || reason.pristine" class="msg-label alert">請輸入頒發原因</span> -->
          <select name="selectedResaon" #reason (change)="onSelectReason(reason.value)" required>
            <option *ngFor="let reason of rewardReasons" [value]="reason.id">{{reason.desc}}</option>
          </select>
        </label>
        <span style="margin-left:0.5rem;" [hidden]="des.valid || des.pristine" class="msg-label alert">請輸入其他頒發原因</span>
        <input [type]="selectedReason.id==0?'text':'hidden'" id="des" [(ngModel)]="selectedReason.desc" name="des" #des="ngModel" required>
      </div>
		</div>
		<div class="row column">
			<div class="expanded button-group">
				<button type="submit" class="button" [disabled]="!rewardForm.valid">確定</button>
			</div>
		</div>
	</form>
</div>
