<title-bar></title-bar>
<div class="row">
    <div class="small-12 medium-6 large-4 columns end">
      <div class="input-group">
        <input #searchBox class="input-group-field" type="text" placeholder="用戶名稱" (keyup)="search(searchBox.value)">
        <div class="input-group-button">
          <button class="button">搜尋</button>
        </div>
      </div>
    </div>
</div>
<div class="column row">
  <div class="table-scroll" style="overflow-y:auto;max-height:300px;">
      <table>
        <tr>
          <th>ID</th>
          <th>用戶名稱</th>
        </tr>
        <tr [class.selected]="isSelectedStudent(student)" *ngFor="let student of students | async" (click)="onClickStudent(student)">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
        </tr>
      </table>
  </div>
</div>
<div>
  <form #rewardForm="ngForm">
		<div class="row column">
			<p>獲發學生: {{selectedStudent.name}}
			</p>
		</div>
		<div class="row column">
			<p>頒發老師/員工: {{rewarder.name}}
			</p>
		</div>
		<div class="row column">
			<label>頒發原因
        <span style="margin-left:0.5rem;" [hidden]="rea.valid || rea.pristine" class="msg-label alert">請輸入頒發原因</span>
				<input type="text" [(ngModel)]="reason" id="rea" name="rea" #rea="ngModel" required>
			</label>
		</div>
		<div class="row column">
      <div class="input-group">
        <select [(ngModel)]="selectedReason" name="selectedResaon">
          <option *ngFor="let r of rewardReasons" [value]="r">{{r}}</option>
        </select>
        <div class="input-group-button">
          <button class="button" (click)="onClick()" [disabled]="!selectedReason">選擇{{r}}</button>
        </div>
      </div>
		</div>
		<div class="row column">
			<div class="expanded button-group">
				<button (click)="confirm()" class="button" id="create" [disabled]="!rewardForm.valid">確定</button>
			</div>
		</div>
	</form>
</div>
