<div class="reveal" id="newReveal" data-reveal>
  <form #updateForm="ngForm" name="newForm">
		<h4>新增用戶</h4>
		<div class="row column">
			<label>用戶名稱
        <span style="margin-left:0.5rem;" [hidden]="uname.valid || uname.pristine" class="msg-label alert">請輸入用戶名稱</span>
				<input type="text" [(ngModel)]="user.username" #uname="ngModel" name="username" required>
			</label>
		</div>
		<div class="row column">
			<label>密碼
        <span style="margin-left:0.5rem;" [hidden]="password.valid || password.pristine" class="msg-label alert">請輸入密碼</span>
				<input type="password" [(ngModel)]="user.pwd" #password="ngModel" name="password" required>
			</label>
		</div>
		<div class="row column">
			<label>用戶類形
				<select [(ngModel)]="user.role" name="role">
					<option value="student">學生</option>
					<option value="teacher">老師</option>
					<option value="staff">職員</option>
					<option value="admin">管理員</option>
				</select>
			</label>
		</div>
		<div class="row column">
			<label>schooltrac ID
        <span style="margin-left:0.5rem;" [hidden]="stid.valid || stid.pristine" class="msg-label alert">請輸入SchoolTrac ID</span>
				<input type="text" [(ngModel)]="user.stid" #stid="ngModel" name="stid" required >
			</label>
		</div>
		<div class="row column">
			<div class="expanded button-group">
				<button (click)="create()" class="button" id="create" [disabled]="!newForm.valid">儲存</button>
			</div>
		</div>
	</form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
