<div class="reveal" id="prizeUpdateReveal" data-reveal>
  <form #updateForm="ngForm" (ngSubmit)="update()">
		<h4>更新禮物資料</h4>
		<div class="row column">
			<label>禮物名稱
        <span style="margin-left:0.5rem;" [hidden]="pname.valid || pname.pristine" class="msg-label alert">請輸入禮物名稱</span>
				<input type="text" [(ngModel)]="prize.name" #pname="ngModel" name="pname" required>
			</label>
		</div>
		<div class="row column">
			<label>所需獎杯
        <span style="margin-left:0.5rem;" [hidden]="tropyRequired.valid || tropyRequired.pristine" class="msg-label alert">請輸入所需獎杯</span>
				<input type="number" [(ngModel)]="prize.tropyRequired" #tropyRequired="ngModel" name="tropyRequired" required>
			</label>
		</div>
		<div class="row column">
        <file-upload [imageSrc]="prize.photo"></file-upload>
		</div>
		<div class="row column">
			<div class="expanded button-group">
				<button type="submit" class="button" [disabled]="!updateForm.valid">儲存</button>
			</div>
		</div>
	</form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
