<h2>Userinfo</h2>
<div class="column row">
    <p>用戶名稱: AAA</p>
</div>
<div class="column row">
    <p>用戶類型: AAA</p>
</div>
<div class="row">
  <div class="medium-6 columns">
    <fieldset class="fieldset">
      <legend>更改密碼</legend>
        <form  (ngSubmit)="onSubmit()" #chPwdForm="ngForm">
        <div class="column row">
          <label>username
            <input type="text" [(ngModel)]="username" id="username" name="username" #uname="ngModel" required>
          </label>
          <div [hidden]="uname.valid || uname.pristine" class="callout alert" #er>Username is reuqired</div>
        </div>
        <div class="column row">
          <label>new pwd
            <input type="text" [(ngModel)]="username" id="username" name="username" #uname="ngModel" required>
          </label>
          <div [hidden]="uname.valid || uname.pristine" class="callout alert" #er>Username is reuqired</div>
        </div>
        <div class="column row">
          <label>reconfirm
            <input type="text" [(ngModel)]="username" id="username" name="username" #uname="ngModel" required>
          </label>
          <div [hidden]="uname.valid || uname.pristine" class="callout alert" #er>Username is reuqired</div>
        </div>
        <div class="column row">
          <button type="submit" class="button" [disabled]="!chPwdForm.form.valid">Submit</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
