<title-bar></title-bar>
<div class="row">
  <div class="small-12 medium-6 large-6 columns">
    <div class="row">
      <div class="small-6 medium-6 large-6 columns">
        <label>套用月份由
          <input type="number" [(ngModel)]="fromMonth" name="fMonth">
        </label>
      </div>
      <div class="small-6 medium-6 large-6 columns">
        <label>至
          <input type="number" [(ngModel)]="toMonth" name="fMonth">
        </label>
      </div>
    </div>
  </div>
</div>
<timeslot-table></timeslot-table>
<div class="row column">
  <button (click)="save()" type="button" class="button expanded">儲存</button>
</div>
