<title-bar></title-bar>
<makeup-lesson (aplyEvt)="aplyMkup($event)"></makeup-lesson>
<div *ngFor="let lessonOfDay of timetable.lessonOfDays" class="column row">
  <div class="row">
    <div class="column">
      <h5>{{lessonOfDay.date | date }} - {{lessonOfDay.dayOfWeek}} <i class="fi-refresh" style="font-size:32px;vertical-align:middle;" (click)="reloadLson()"></i></h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let lesson of lessonOfDay.lessons; let l=last" class="small-12 medium-6 large-4 columns">
      <lesson [lesson]="lesson" (chkEvt)="chkMkupLson($event)"></lesson>
    </div>
  </div>
  <hr>
</div>
