<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close #closeBtn>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Menu -->
  <ul class="vertical menu">
    <li><a routerLink="./news" routerLinkActive="active" (click)="closeBtn.click()">主頁</a></li>
    <li><a routerLink="./timetable" routerLinkActive="active" (click)="closeBtn.click()">時間表</a></li>
    <li><a routerLink="./tropy" routerLinkActive="active" (click)="closeBtn.click()">奬勵印章</a></li>
    <li><a routerLink="./dictation" routerLinkActive="active" (click)="closeBtn.click()">默書小幫手</a></li>
    <li *ngIf="showStudentFunc()">
      <a routerLink="./redeem" routerLinkActive="active" (click)="closeBtn.click()">換領禮物</a>
    </li>
    <li *ngIf="showTeacherFunc()">
      <a routerLink="./reward" routerLinkActive="active" (click)="closeBtn.click()">頒發獎盃</a>
    </li>
    <li *ngIf="showAdminFunc()">
      <a routerLink="./redeem-confirm" routerLinkActive="active" (click)="closeBtn.click()">禮物換領確認</a>
      <a routerLink="./admin/user-maint" routerLinkActive="active" (click)="closeBtn.click()">用戶管理</a>
      <a routerLink="./admin/prize-maint" routerLinkActive="active" (click)="closeBtn.click()">禮物管理</a>
    </li>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <router-outlet></router-outlet>
</div>
