<div class="card">
  <div class="card-section">
    <h6>{{lesson.name}}</h6>
    <div class="column row" style="background-color:#00ccff; color:white; padding-left:5px">
      <i class="fi-clock" style="font-size:22px;vertical-align:middle;"></i>
      {{lesson.startDateTime | date:'shortTime' }} - {{lesson.endDateTime | date:'shortTime'}}
    </div>
    <div *ngIf="lesson.room"class="column row" style="background-color:#00ff00; color:white; padding-left:5px">
      <i class="fi-home" style="font-size:22px;vertical-align:middle;"></i>
      {{lesson.room.name}}
    </div>
    <div *ngIf="lesson.teacher" class="column row" style="background-color:#ffcc00; color:white; padding-left:5px">
      <i class="fi-torso-business" style="font-size:22px;vertical-align:middle;"></i>
      {{lesson.teacher.name}}
    </div>
  </div>
</div>
