<title-bar></title-bar>
<user-new></user-new>
<user-update [user]="selectedUser"></user-update>
<div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="用戶名稱">
        <div class="input-group-button">
          <button class="button">搜尋</button>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <button class="button">新增</button>
    </div>
</div>
<div class="column row">
  <div class="table-scroll" style="overflow-y:auto;max-height:300px;">
      <table>
        <tr>
          <th>ID</th>
          <th>用戶名稱</th>
        </tr>
        <tr [class.selected]="isSelectedUser(user)" *ngFor="let user of users" (click)="onClick(user)">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
        </tr>
      </table>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 large-4 columns end">
    <div class="expanded button-group">
      <button class="button" id="newBtn" data-open="neweveal">新增</button>
      <button class="button" id="updateBtn" data-open="updateReveal" [disabled]="!selectedUser.id">更新</button>
      <!-- <button class="button" id="rewardBtn" data-open="rewardReveal" [disabled]="!selectedUser.id">頒發獎章</button>
      <button class="button" id="redeemBtn" data-open="redeemReveal" [disabled]="!selectedUser.id">獎品換領</button> -->
    </div>
  </div>
</div>
