<title-bar></title-bar>
<update></update>
<div class="column row">
    <div class="input-group">
      <input class="input-group-field" type="text">
      <div class="input-group-button">
        <button class="button">加入</button>
      </div>
    </div>
</div>
<div class="column row">
  <div class="table-scroll" style="overflow-y:auto;max-height:300px;">
      <table>
        <tr>
          <th>ID</th>
          <th>username</th>
        </tr>
        <tr>
          <td>123</td>
          <td>abc</td>
        </tr>
        <tr>
          <td>123</td>
          <td>abc</td>
        </tr>
        <tr>
          <td>123</td>
          <td>abc</td>
        </tr>
      </table>
  </div>
</div>
<div class="column row">
  <button class="button" id="update" data-open="updateReveal">new</button>
</div>
