<title-bar></title-bar>
<!-- <md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container> -->
<div class="row">
  <div class="columns">
    <input type="text" [mdDatepicker]="picker" placeholder="Choose a date">
  </div>
  <div class="columns">
    <button class="button" [mdDatepickerToggle]="picker">Date</button>
  </div>
</div>
<md-datepicker #picker (selectedChanged)="dateChanged($event)"></md-datepicker>
<timeslot-table></timeslot-table>
<div class="row column">
  <button (click)="save()" type="button" class="button expanded">儲存</button>
</div>
