<title-bar></title-bar>
<div class="row column">
  <div id="orbit" class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls" [hidden]="!dataLoaded">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      <ul class="orbit-container">
        <li *ngFor="let news of newses;let i=index; let la=last;" class="orbit-slide" [class.is-active]="i==0">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{{news.img}}" style="max-height:500px">
            <figcaption class="orbit-caption" style="top:0;bottom:auto;">
              {{news.date}}-{{news.title}}
            </figcaption>
          </figure>
          <div style="background-color:dodgerblue;color:white;" [innerHtml]="news.content"></div>
        </li>
      </ul>
    </div>
    <nav class="orbit-bullets">
      <button *ngFor="let news of newses;let i=index" [class.is-active]="i==0"></button>
    </nav>
  </div>
</div>
