.shinning
{
  font-size:144px;
  color:#ffd700;
  text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 20px #ffd700,
  0 0 30px #ffd700,
  0 0 40px #ffd700,
  0 0 50px #ffd700,
  0 0 75px #ffd700;
}
