<title-bar></title-bar>
<div class="column row">
  <h2>概覽</h2>
</div>
<div class="row align-middle">
  <div *ngIf="tropy" class="column">
    <div style="text-align:center;">
      <i class="fi-trophy shinning" style="font-size:144;text-align:center;"></i>
    </div>
  </div>
  <div class="column">
    <div class="column row align-bottom">
      <h3>奬杯總數: {{tropy.rewardNo}}</h3>
    </div>
    <div class="column row align-bottom">
      <h3>已用數目: {{tropy.redeemNo}}</h3>
    </div>
    <div class="column row align-bottom">
      <h3>餘下數目: {{tropy.rewardNo - tropy.redeemNo}}</h3>
    </div>
  </div>
</div>
<hr>
<reward-list [rewardList]="tropy.rewardList"></reward-list>
<hr>
<redeem-list [redeemList]="tropy.redeemList"></redeem-list>
